---
import Java from "./icons/Java.astro";
import CSS from "./icons/CSS.astro";
import HTML from "./icons/HTML.astro";
import JavaScript from "./icons/JavaScript.astro";
import ASTRO from "./icons/ASTRO.astro";
const TAGS = {
    JAVA: {
        name: "Java",
        class: "bg-gray-800 text-[#ED8B00]",
        icon: Java,
    },
    CSS: {
        name: "CSS",
        class: "bg-gray-800 text-[#2965f1]",
        icon: CSS,
    },
    HTML: {
        name: "HTML",
        class: "bg-gray-800 text-[#f06529]",
        icon: HTML,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-gray-800 text-[#f0db4f]",
        icon: JavaScript,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-gray-800 text-[#ff5d01]",
        icon: ASTRO,
    },
};

const PROJECTS = [
    {
        title: "CityBike",
        description: "Bicycle station app",
        github: "#https://github.com/Miguelfernandez3/cityBike",
        image: "/projects/bicicleta.webp",
        tags: [TAGS.JAVA, TAGS.CSS, TAGS.HTML, TAGS.JAVASCRIPT],
    },
    {
        title: "Portfolio",
        description: "This is my portfolio website, where I show my projects and skills.",
        github: "#https://github.com/Flare785/portfolio.dev",
        image: "/projects/portfolioImage.webp",
        tags: [TAGS.ASTRO, TAGS.JAVASCRIPT],
    },
];
---

{
    PROJECTS.map(({ image, title, description, tags }) => (
        <article class="mb-4">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 flex-row mb-2">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-4" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img
                class="rounded shadow-2xl shadow-white/10"
                src={image}
                alt={`Captura de pantalla del proyecto ${image}`}
            />
        </article>
    ))
}
